@import "styles/variables.scss";

.login {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: white;
  display: flex;
  flex-direction: column;
  padding-top: 40px;

  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: black;
    font-weight: bold;
    padding: 15px 0;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    input:not([type="submit"]) {
      width: 50%;
      padding: 10px;
      border: 1px solid black;
      border-radius: 5px;
      font-size: 0.99rem;
      font-weight: bold;
      color: black;
    }

    button {
      width: 25%;
      padding: 10px;
      border: 2px solid black;
      border-radius: 5px;
      margin-top: 10px;
      font-size: 0.99rem;
      color: black;
      background: white;
      cursor: pointer;
      transition: 0.3x linear;
      &:hover {
        background: black;
        color: white;
      }
    }
  }

}