@import '../../../styles/variables.scss';

.popup {
  width: 110%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 2em;
  padding-right: 0;
  padding-left: 0;
  // border-radius: 1em;
  // margin-bottom: 1em;
}

.add-kid-container {
  width: 78%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: $olive-green-color;
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 1em;
}

h2.add-kid-card__title {
  color: $dark-green-color;
  padding-left: 0.5em;
}

.add-kid-card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: #ffffff;
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 1em;
}

.add-kid-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: right;
  flex-direction: column;
  padding: 1em;
  border-radius: 1em;
  margin-bottom: 1em;
  margin-top: 0;
}
// .btn.add-kid {
//   width: 100%;
// }
