@import '../../../styles/variables.scss';

.popup-request {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  margin-left: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
}

.popup-request__inner {
  position: relative;
  padding: 32px;
  width: 100%;
  height: 85%;
  overflow: auto;
  max-width: 640px;
  background-color: white;

  .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
  }

  .p-popup {
    margin-bottom: 0.5em;
  }

  .card-img-top__background.request {
    margin-left: 0;
  }

  .card-img-top.request {
    margin: 15px;
  }
}

h5.request-popup {
  color: $font-color-dark;
  margin-top: 1em;
}

.card-title.request.kids {
  margin-bottom: 0.25em;
  margin-top: 0.5em;
}

.p-popup.request.kids {
  margin-bottom: 1.5em;
}
