@import '../../../styles/variables.scss';

.request-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  background-color: #ffffff;
  margin-left: 33%;
  padding-bottom: 3em;
  z-index: 100;
}

.request-container__title {
  font-family: $font-h1;
  color: $dark-green-color;
  padding-top: .5em;
  padding-bottom: 0.5em;
}

.request-container-mapped {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: $dark-green-color;
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 1em;
}

.request-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: right;
  flex-direction: column;
  background-color: #ffffff;
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 2em;
}

.request.card-title {
  padding-left: 0;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.btn.request {
  padding-left: 1em;
  padding-right: 1em;
}

.btn.request:hover {
  background-color: #F5F5DC;
  color: $dark-green-color;
  border: 0.1px solid beige;
  box-shadow: 0 8px 11px #87aaae;
}
.btn.accept {
  background-color: #CAFFF2;
}

.btn.reject {
  background-color: #A8DED4;
}

.btn.details {
  background-color: #659B98;
}