@import '../../../styles/variables.scss';

.popup-request-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 2em;
  padding-right: 0;
  padding-left: 0;
}


.popup-request-card {
  position: relative;
  width: 100%;
  background-color: white;
}

.close-btn {
  position: absolute;
  top: 1em;
  right: 0px;
  border-radius: 0.25em;
  padding: 0em 0.5em 0 0.5em;
}

.popup-requst-card__title {
  color: $dark-green-color;
  padding-top: 1em;
}

.popup-request-card__parent {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.card-img-top__background.request {
  margin-left: 0;
}

.card-img-top.request {
  margin: 15px;
}

p.p-popup {
  margin: 0
}

