@import "styles/variables.scss";

.btn {
  text-align: center;
  padding: .875em 1.25em;
  border: 1px solid transparent;
  border-radius: 99em;
  position: relative;
  display: inline-block;

}

.btn.sign-up {
  background-color: $light-aqua-color;
  color: $dark-green-color;
  font-weight: 600;
}

.btn.sign-up:hover {
  background-color: #F5F5DC;
  color: $dark-green-color;
  border: 1px solid $dark-green-color;
}