@import "styles/variables.scss";

.button {
  text-align: center;
  padding: .875em 1.25em;
  border: 1px solid transparent;
  border-radius: 99em;
  position: relative;
  display: inline-block;
}

  .sign-up {

  background-color: $light-aqua-color;
  color: $dark-green-color;
  font-weight: 600;
}

  :hover {
  background-color: #F5F5DC;
  color: $dark-green-color;
  border: 1px solid $dark-green-color;
}