$font-family: "Source Sans Pro", sans-serif;
$font-logo: "Lobster", cursive;
$font-subtitle: "Source Serif Pro", serif;

$background-color: #f8f6f5;
$dark-green-color: #00373e;
$olive-green-color: #94954c;
$light-aqua-color: #cafff2;