$font-p: "Source Sans Pro", sans-serif;
$font-logo: "Lobster", cursive;
$font-h1: "DM Serif Display", serif;
$font-color-dark: #00373e;
$font-color-light: #ffffff;

$background-color: #f8f6f5;
$dark-green-color: #00373e;
$olive-green-color: #437A7A;
$light-aqua-color: #A8DED4;