@import "../../styles/variables.scss";

nav {
  position: relative;
  height: 50px;
  width: 100%;
  background-color: $dark-green-color;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

  a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0 10px;
    margin-left: 15px;
    font-family: $font-logo;
    font-size: 2.5rem;

  }

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 100px;
    gap: 20px;

    p {
      font-size: 0.99rem;
      padding: 0 10px;
      margin: auto;
    }

    span {
      color: yellow;
      font-weight: bold;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }

    i {
      font-size: 0.99rem;
      cursor: pointer;
      border: 1px solid white;
      background-color: white;
      color: black;
      padding: 10px;
      border-radius: 50%;
    }
  }

}

