@import '../../styles/variables.scss';

nav {
  position: relative;
  height: 60px;
  width: 100%;
  background-color: $dark-green-color;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  top: 0;

  h1 > a {
    font-family: $font-logo;
    font-size: 2.5rem;
    margin-left: 15px;
  }

  ul {
    display: flex;
    gap: 10px;
  }

  li {
    display: inline;
  }

  div.Home li.Home a {
    text-decoration: underline;
  }

  a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    // font-weight: bold;
    padding: 0 10px;
    margin-left: 15px;
    font-family: $font-h1;
    font-size: 2.25rem;
  }
}
