@import "../../styles/variables.scss";

nav {
  position: relative;
  height: 50px;
  width: 100%;
  background-color: $dark-green-color;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;


  ul {
    display: flex;
    gap: 20px;

  }

  li {
    display: inline;
  }

  a {
    color: white;
    text-decoration: none;
  }
  

}

