@import '../styles/variables.scss';

#auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
  background-color: #ffffff;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.auth-container__img {
  width: 80%;
  border-radius: 1em;
}

.auth-form-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 1em;
  border-radius: 1em;
  padding-top: 0.5em;
}

.form-control {
  margin-bottom: 10px;
  width: 100%;
}

.form-check-label {
  color: $dark-green-color;
}

h1.auth__header {
  font-family: $font-p;
  color: $dark-green-color;
  align-self: flex-start;
  padding-top: .5em;
  padding-left: .8em;
}

.form-outline.mb-4 {
  margin-bottom: 0.75em !important;
}

a.forgotPW {
  margin-left: 1em;
}

.btn.auth {
  width: 100%;
}
.btn.auth:hover {
  box-shadow: 0 3px 4px #9a9b9e;
}

.p.auth-role {
  color: $dark-green-color;
  margin-bottom: 0.5em;
}
