@import '../styles/variables.scss';

//   h1 {
//     font-size: 2rem;
//     margin-bottom: 20px;
//     color: black;
//     font-weight: bold;
//     padding: 15px 0;
//   }

  form.auth {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 100%;
    padding-top: 40px;
  }

