@import '../styles/variables.scss';

//   h1 {
//     font-size: 2rem;
//     margin-bottom: 20px;
//     color: black;
//     font-weight: bold;
//     padding: 15px 0;
//   }

.auth-container {
  width: 50%;
}

form.auth {
  width: 50%;

}

h1.auth {
  font-family: $font-h1;
  color: $dark-green-color;
  padding-left: none;

}