@import '../../styles/variables.scss';

#description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
  background-color: #ffffff;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.description-form-container {
  width: 90%;
  display: flex;
  // justify-content: center;
  // align-items: start;
  flex-direction: column;
  padding: 2em;
  border-radius: 1em;
}

.form-control {
  margin-bottom: 10px;
  width: 100%;
}

.form-check-label {
  color: $dark-green-color;
}

h1.description__header {
  font-family: $font-p;
  color: $dark-green-color;
  padding-left: none;
}

.row.mb-4 {
  margin-bottom: 0.75em !important;
}

.btn.description {
  width: 100%;
}
.btn.description:hover {
  box-shadow: 0 3px 4px #9a9b9e;
}
