.kids-form {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
    h1 {
      padding-top: 15px;
    }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    input, textarea {
      width: 50%;
      padding: 10px;
      border: 1px solid black;
      border-radius: 5px;
      font-size: 0.99rem;
      font-weight: bold;
      color: black;
    
    }
    .age {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 10px;
      justify-content: center;
      align-items: center;

      input {
        width: 37%;
      }
    }


  }

  button {
    width: 100px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 0.99rem;
    color: black;
    background: white;
    cursor: pointer;
    transition: 0.3x linear;
    &:hover {
      background: black;
      color: white;
    }
    margin: auto;
  }
}

