@import "styles/variables.scss";

.App {
  text-align: center;
}

.schedule-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  width: 50%;
  margin: auto;
}




