@import "../../styles/variables.scss";

h1.booking-container__title {
  font-family: $font-h1;
  color: $dark-green-color;
  padding-left: none;
  padding-top: 1em;
}

// Center the container and give it a white background
.booking-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 55%;
  margin: 0 auto;
  background-color: #ffffff;
  margin-left: 33%
}

// Make the image  80% of the container
.booking-container__img {
  width: 85%;
  border-radius: 1em;
}

// make h4 text white
h4 {
  color: #ffffff;
  margin-top: 1em;
  margin-bottom: .5em;
}

// Center the form and give it dark green background
#booking-container__form {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: $dark-green-color;
  padding: 2em;
  border-radius: 1em;
}

// Make the form inputs 80% of the container
.react-datepicker-wrapper, .react-datepicker__input-container {
  display: block !important;
}

input.select-hours {
  width: 100%;
  padding: 6px 10px 5px 10px;
}

input.select-children {
  width: 100%;
  padding: 6px 10px 5px 10px;
}

input.address-input__input
{
  width: 100%;
  padding: 6px 10px 5px 10px;
  margin-top: .5em;

}

.btn.booking {
  width: 100%;
}



.caregivers {
  margin-top: 1em;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: $background-color;
  padding: 1em;
  border-radius: 1em;
  list-style-type: none;
}

h4.caregivers__header {
  margin-left: 1em;
}

.caregivers__list {
  list-style-type: none;
}

