@import "../../../styles/variables.scss";

.popup.review {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: $olive-green-color;
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 1em;
}

.review-container {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: $olive-green-color;
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 1em;
}

.review-card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: #ffffff;
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 1em;
}

h2.review-card {

  color: $dark-green-color;
  padding-top: 1em;
  padding-bottom: .5em;
}

.form.review {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: right;
  flex-direction: column;
  padding: 1em;
  border-radius: 1em;
  margin-bottom: 1em;
  margin-top: 0;
}

.btn.review {
  width: 100%;
}