@import "../../../styles/variables.scss";

.popup.review {
  width: 85%;
}

.add-review-container {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: $olive-green-color;
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 1em;
}

h1.add-review-container-title {
  font-family: $font-h1;
  color: $dark-green-color;
  padding-top: 1em;
  padding-bottom: .5em;
}

.add-review-form {

  display: flex;
  justify-content: space-between;
  align-items: right;
  flex-direction: column;
  background-color: #ffffff;
  padding: 1em;
  border-radius: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
}

.btn.add-kid {
  width: 100%;
}