@import '../../../styles/variables.scss';


.reviews-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  background-color: #ffffff;
  margin-left: 33%;
  padding-bottom: 3em;
}

h1.reviews-container__title {
  font-family: $font-h1;
  color: $dark-green-color;
  padding-top: .5em;
  padding-bottom: 0.5em;
}

.completed-care-container {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: $dark-green-color;
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 1em;
}

.completed-care-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: right;
  flex-direction: column;
  background-color: #ffffff;
  padding: 2em;
  border-radius: 1em;
  margin-top: 1em;
}

.card-title {
  padding-left: 0.8em;
}

.btn.review {
  width: 100%;
}

.btn.review:hover {
  box-shadow: 0 8px 11px #87aaae;
}